<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Offer</title>
</head>
<body style="margin: 0;padding: 0;background-color: #e5e5e5;font-family: 'Poppins', 'Helvetica', sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%" style="width:100.0%; background:#e5e5e5">
        <tbody>
            <tr>
                <td style="padding: 18.0pt 0cm 18.0pt 0cm">
                    <div align="center">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="max-width: 640px; background: #ffffff; width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="padding: 8.5% 7.5% 8.5% 7.5%">
                                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="http://localhost:3000/" target="_blank" style="text-decoration: none;">
                                                            <img src="https://i.ibb.co/jLbQCFz/logo.png" style="display: block; min-width: 138px; width: 37.5%; margin-left: auto; margin-right: auto;" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h1 style="font-family: 'Poppins', 'Helvetica', sans-serif; font-size: 28px; color: #282829; line-height: 1.4; margin: 0; margin-top: 32px; font-weight: 600;">
                                                            Congratulations! You've been selected for the {{JOB_TITLE}} position
                                                        </h1>
                                                        <p style="font-family: 'Poppins', 'Helvetica', sans-serif; font-size: 14px; color: #282829; line-height: 1.8; margin: 0; margin-top: 18px;">
                                                            Dear {{CANDIDATE_NAME}},
                                                            <br/>
                                                            <br/>
                                                            We are pleased to offer you the position of {{JOB_TITLE}} at Talent Trail. We were highly impressed with your qualifications and believe that you will be a valuable addition to our team.
                                                            <br/>
                                                            <br/>
                                                            We look forward to welcoming you to our team. Should any questions arise, feel free to contact us.
                                                            <br/>
                                                            </br>
                                                            Regards,
                                                        </br>
                                                            Human Resources
                                                        </br>
                                                        Talent Trail
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 7.5% 7.5% 7.5% 7.5%; background: #fafafa;">
                                        <table style="width:100%;" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <a href="https://www.instagram.com" style="text-decoration: none; display: inline-block; margin-right: 16px;">
                                                            <img src="https://i.ibb.co/BNpcCd2/instagram.png" style="display: block; height: 24px;" />
                                                        </a>
                                                        <a href="https://www.facebook.com" style="text-decoration: none; display: inline-block; margin-right: 16px;">
                                                            <img src="https://i.ibb.co/ZfdtKRR/facebook.jpg" style="display: block; height: 24px;" />
                                                        </a>
                                                        <a href="https://www.linkedin.com" style="text-decoration: none; display: inline-block; margin-right: 16px;">
                                                            <img src="https://i.ibb.co/5spFqb8/linkedin.png" style="display: block; height: 24px;" />
                                                        </a>
                                                        <a href="https://www.youtube.com" style="text-decoration: none; display: inline-block; margin-right: 16px;">
                                                            <img src="https://i.ibb.co/QPFLmQz/youtube.png" style="display: block; height: 24px;" />
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="font-family: 'Poppins', 'Helvetica', sans-serif; font-size: 14px; color: #282829; line-height: 1.72; margin: 0; margin-top: 24px;">
                                                            Talent Trail </br>
                                                            Talent Meets Opportunity </br>
                                                            Telephone no: +91 **** *** *** </br>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <hr style="border: none; border-bottom: 1px solid #ebebeb; margin: 24px 0;" />
                                                        <p style="font-family: 'Poppins', 'Helvetica', sans-serif; font-size: 14px; color: #282829; line-height: 1.72; margin: 0;">
                                                            This is a system generated message. Please do not reply to this email. 

                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>